header{
    /* background-image: linear-gradient(to bottom right, rgb(140, 0, 255), violet); */
    display: flex;
}

.brand{
    flex: 80%;
}

.navBtn{
    flex: 20%;
    display: flex;
}

.link{
    margin: 2.5%;
    border: 1px solid black;
}

