*{
  margin: 0;
  padding: 0;
}

html{
  /* background-image: linear-gradient(45deg, rgb(0, 0, 255), white); */
  background-color: black;
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

html, body {
 
}